{% extends 'base.html' %}

{% block title %}Poll List{% endblock %}

{% block content %}
    <h1 style="text-transform: full-width; color: #5E5694; text-align: center">Poll List</h1>

    {% for poll in polls %}
       Вопрос:{{ poll.text }}
        <p><a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url 'poll_view' poll.pk %}">more </a>|
        <p><a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url 'poll_update' poll.pk %}">update </a>|
        <p><a style="text-decoration: none;text-transform: uppercase;color:
                #6a7dff" href="{% url 'poll_delete' poll.pk %}">delete </a>|
    <hr>
    {% endfor %}
  </div>

{% endblock %}
